<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>우주를 사랑하고 미래를 꿈꾸는</h2>
        <p class="lead"><em><q>For all of us who shared a single planet and a fleeting moment in the vastness of space and the eternity of time</q> feat. CARL SAGAN, COSMOS</em></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
