<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>우주를 사랑하고 미래를 꿈꾸는</h2>
        <p class="lead"><q><em><strong>공간의 광막함</strong>과 <strong>시간의 영겁</strong>에서 행성 하나와 <strong>찰나의 순간</strong>을 공유한 우리 모두를 위해</q> by CARL SAGAN, COSMOS</em></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
