<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>우주를 사랑하고 미래를 꿈꾸는</h2>
        <p class="lead"><q><em><strong>공간의 광막함과 시간의 영겁에서 행성 하나와 찰나의 순간을 공유한 우리 모두를 위해</q> by CARL SAGAN, COSMOS</strong></em></p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
