<!-- <aside id="contact" class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>저를 더 만나보세요</h3>
        <a href="https://github.com/gochangsu" class="btn btn-lg btn-light" target="_blank" rel="noopener noreferrer"> Github </a>
        <a href="mailto:gcs00gm@gmail.com" class="btn btn-lg btn-dark"> Email </a>
      </div>
    </div>
  </div>
</aside> -->

<!-- <section id="contact" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>CONTACT</strong></h2>
        <hr class="small">

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>GITHUB</strong></h4>
              <p>Projects & Code</p>
              <a href="https://github.com/gochangsu" class="btn btn-light" target="_blank" rel="noopener noreferrer">View More</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>EMAIL</strong></h4>
              <p>Contact Me</p>
              <a href="mailto:gcs00gm@gmail.com" class="btn btn-light">Send</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>LOCATION</strong></h4>
              <p>Gyeonggi-do, Korea</p>
              <a href="https://www.google.com/maps?q=Gyeonggi-do" class="btn btn-light" target="_blank" rel="noopener noreferrer">Map</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-certificate fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>LICENSE</strong></h4>
              <p>Certificates & Learning</p>
              <a href="#portfolio" class="btn btn-light" onclick="$('#menu-close').click();">View</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->

<section id="contact" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>more ME</strong></h2>
        <hr class="small">

        <div class="row">

          <!-- GitHub -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="https://github.com/gochangsu"
                 target="_blank" rel="noopener noreferrer"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>GITHUB</strong></h4>
              <p>Projects & Code</p>
            </div>
          </div>

          <!-- Email -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="mailto:gcs00gm@gmail.com"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>EMAIL</strong></h4>
              <p>Direct Contact</p>
            </div>
          </div>

          <!-- Location -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="https://www.google.com/maps/place/(%EC%A3%BC)%EC%9D%B4%EB%85%B9%EC%8A%A4%EC%B2%A8%EB%8B%A8%EC%86%8C%EC%9E%AC/data=!4m10!1m2!2m1!1z7J2064W57Iqk7LKo64uo7IaM7J6s!3m6!1s0x357b245dafb6ed15:0x2d1ddaa6465c967c!8m2!3d36.9262967!4d127.0647568!15sChXsnbTrhbnsiqTssqjri6jshozsnqySARBjb3Jwb3JhdGVfY2FtcHVz4AEA!16s%2Fg%2F1tg5rzng?entry=ttu&g_ep=EgoyMDI1MTIwOS4wIKXMDSoKLDEwMDc5MjA2OUgBUAM%3D"
                 target="_blank" rel="noopener noreferrer"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>LOCATION</strong></h4>
              <p>For a Living</p>
            </div>
          </div>

          <!-- License / Study -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="javascript:void(0);"
                 onclick="openCompetitive(); $('#menu-close').click();"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-certificate fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>COMPETITIVE</strong></h4>
              <p>Experience</p>
            </div>
          </div>
          
        <!-- COMPETITIVE Modal -->
        <div class="modal fade" id="competitiveModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Competitive Experience</h4>
            </div>

            <div class="modal-body">
              <div id="competitiveContent" class="md-body">
                <div class="text-muted">Loading...</div>
              </div>
            </div>

          </div>
        </div>
      </div>
      
    </div>
  </div>
</section>
