<!-- <aside id="contact" class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>저를 더 만나보세요</h3>
        <a href="https://github.com/gochangsu" class="btn btn-lg btn-light" target="_blank" rel="noopener noreferrer"> Github </a>
        <a href="mailto:gcs00gm@gmail.com" class="btn btn-lg btn-dark"> Email </a>
      </div>
    </div>
  </div>
</aside> -->

<!-- <section id="contact" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>CONTACT</strong></h2>
        <hr class="small">

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>GITHUB</strong></h4>
              <p>Projects & Code</p>
              <a href="https://github.com/gochangsu" class="btn btn-light" target="_blank" rel="noopener noreferrer">View More</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-envelope fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>EMAIL</strong></h4>
              <p>Contact Me</p>
              <a href="mailto:gcs00gm@gmail.com" class="btn btn-light">Send</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>LOCATION</strong></h4>
              <p>Gyeonggi-do, Korea</p>
              <a href="https://www.google.com/maps?q=Gyeonggi-do" class="btn btn-light" target="_blank" rel="noopener noreferrer">Map</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-certificate fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>LICENSE</strong></h4>
              <p>Certificates & Learning</p>
              <a href="#portfolio" class="btn btn-light" onclick="$('#menu-close').click();">View</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section> -->

<section id="contact" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>CONTACT</strong></h2>
        <hr class="small">

        <div class="row">

          <!-- GitHub -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="https://github.com/gochangsu"
                 target="_blank" rel="noopener noreferrer"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>GITHUB</strong></h4>
              <p>Projects & Code</p>
            </div>
          </div>

          <!-- Email -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="mailto:gcs00gm@gmail.com"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-envelope fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>EMAIL</strong></h4>
              <p>Direct Contact</p>
            </div>
          </div>

          <!-- Location -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="https://www.google.com/maps?q=Gyeonggi-do"
                 target="_blank" rel="noopener noreferrer"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-map-marker fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>LOCATION</strong></h4>
              <p>Gyeonggi-do, Korea</p>
            </div>
          </div>

          <!-- License / Study -->
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <a href="#portfolio"
                 onclick="$('#menu-close').click();"
                 class="icon-link">
                <span class="fa-stack fa-4x">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-certificate fa-stack-1x text-primary"></i>
                </span>
              </a>
              <h4><strong>LICENSE</strong></h4>
              <p>Certificates & Study</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
