<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>DOING~</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://home.iscu.ac.kr/ptl/main/Main.scu" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/scu_1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://fastcampus.co.kr/me/home" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/fastcampus.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://lms.kmooc.kr/" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/kmooc.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://dacon.io/competitions/official/236493/leaderboard" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/dacon_1.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
