<!-- <section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>DOING</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://home.iscu.ac.kr/ptl/main/Main.scu" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/scu_1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://fastcampus.co.kr/me/home" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/fastcampus.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://lms.kmooc.kr/" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/kmooc.png">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://dacon.io/competitions/official/236493/leaderboard" target = "_blank" rel = "noopener noreferrer">
                <img class="img-portfolio img-responsive" src="img/dacon_1.png">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
        <!-- <a href="#" class="btn btn-dark">View More Items</a> -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section> -->

<section id="portfolio" class="services">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2><strong>DOING</strong></h2>
        <hr class="small">

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-university fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>SEOUL CYBER<br>UNIVERSITY</strong></h4>
              <p>학습 / 전공 과정</p>
              <a href="https://scuai.iscu.ac.kr" class="btn btn-light" target="_blank" rel="noopener noreferrer">Check it out</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rocket fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>FASTCAMPUS<br>AI TRACK</strong></h4>
              <p>실무형 강의 / Train</p>
              <a href="https://fastcampus.co.kr" class="btn btn-light" target="_blank" rel="noopener noreferrer">Check it out</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-graduation-cap fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>K-MOOC<br>STUDY</strong></h4>
              <p>온라인 강의 / Develope</p>
              <a href="https://kmooc.kr/" class="btn btn-light" target="_blank" rel="noopener noreferrer">Check it out</a>
            </div>
          </div>

          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <span class="fa-stack fa-4x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x text-primary"></i>
              </span>
              <h4><strong>DACON<br>CHALLENGE</strong></h4>
              <p>대회 / 참여</p>
              <a href="https://dacon.io" class="btn btn-light" target="_blank" rel="noopener noreferrer">Check it out</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
